// *** GRID ***
@gutter-width: 25;
@columns:      6;
@total-width:  100%;

// *** SOME CLASSES ***

.thumb {
  float: left;
  width: 5rem;
  height: 5rem;
  margin-right: .5rem;
  .has-background-image;
}

.info {
  float: left;
}

.taglist {
  margin-top: .5rem;

  button {
    .padding-small;
  }
}

// *** LAYOUT ***

// grid layout
header {
  .logo     { .column(2.5); }
  .message  { .column(2.5); }
  .misc     { .column(1); }
}
nav a       { .column(1.2); }
.form-actions { .column(6); }
section {
  .col      { .column(2); }
  tr        { .column(6); }
  th, td    { .column(2); }
}

@media screen and (max-width: 910px) {
  header {
    .logo     { .column(6); }
    .message  { .column(5); }
    .misc     { .column(1); }
  }
  nav a       { .column(2); }
  section {
    .col      { .column(3); }
  }
}

@media screen and (max-width: 580px) {
  nav a       { .column(3); }
  section {
    .col      { .column(6); }
  }
}

// styling
body {
  color: @medium;
  line-height: 150%;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  float: left;
  line-height: 2em;
  height: auto;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}

label {
  cursor: pointer;
}

header {
  background: @medium;
  color: @background-body;
  min-height: 3.5rem;
  position: relative;
  .fullwidth;

  .logo {
    .font-header;
    color: @background-body;
  }

  .message {
    display: none;
  }

  button {
    .padding-small;
  }

  .back {
    color: #fff;
    position: absolute;
    right: 1rem;
    bottom: .25rem;
  }
}

nav {
  background: @light;
  .fullwidth;

  a {
    background: @light;
    text-align: center;
    padding: .5rem 0;
  }

  a:hover { text-decoration: underline; }
}

.form-actions {
  text-align: right;
  background: lighten(@light, 10);
  padding: .5rem 1rem;
  box-sizing: border-box;
  .fullwidth;
}

section {
  padding-bottom: 2rem;
  .fullwidth;

  .col {

    padding-bottom: 2rem;

    ol {
      counter-reset: li; // Initiate a counter
      list-style: none; // Remove default numbering
      *list-style: decimal; // Keep using default numbering for IE6/7

      li {
        text-align: left;
        position: relative;
        clear: left;

        a {
          color: @medium;
        }
      }

      li:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        top: 0;
        left: 0;
        padding: .15rem .35rem;
        color: @dark;
        background: @background-body-transparent;
      }
    }

    .title {
      font-weight: bold;
      word-wrap: break-word;
    }

    .tags {
      .fullwidth;
    }
  } // section .col

  table {
    .fullwidth;

    tr:nth-child(even) {
      background-color: @light;
    }
  }

  th {
    text-align: left;
  }

  td {
    word-wrap: break-word;
  }
} // section

.form-group {
  margin: 1em;

  li {
    margin-bottom: .5em;
  }

  input[type=checkbox],
  input[type=radio] {
    margin-right: 1em;
  }

  i {
    font-size: .9em;
    display: block;
  }
}