AuthName "Y U NO LOG IN?"
AuthType Basic
AuthUserFile /run/secrets/admin_login
AuthGroupFile /dev/null
require valid-user

RewriteEngine On
RewriteBase /admin

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?page=$1 [NC,L]